<?xml version='1.0' encoding='UTF-8'?>
<configuration>
  <configSections>
    <section name='Tracker' type='TrackerTools.TrackerToolsConfiguration, TrackerTools' />
  </configSections>
  <Tracker>
    <ApiToken>API_TOKEN_GOES_HERE</ApiToken>
    <ProjectId>PROJECT_ID</ProjectId>
    <OutputDirectory>.</OutputDirectory>
    <StoryTemplate Source='StoryTemplate.html'/>
  </Tracker>
</configuration>
